.btn{
    color: #182226;
    border: 1px solid var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 118px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
}