.hero {
  height: 90vh;
  background: url("../../../assets/home/hero/image.png") center/cover no-repeat;
  background-size: 138%;
  background-position: -154px -394px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  max-width: 600px;
}

.content h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 96px;
  color: #2C2F24;
}

.content p {
  margin: 20px 0;
  color: #2C2F24;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}

.actions {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.primaryBtn {
  background: #b23b3b;
  color: white;
  padding: 16px 26px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.32s ease, background-color 0.32s ease;
}

.primaryBtn:hover {
  background-color: #2C2F24;
  color: #ffffff;
  transform: scale(1.05);
}

.secondaryBtn {
  font-weight: 700;
  color: #2C2F24;
  background: transparent;
  border: 1px solid #2C2F24;
  padding: 16px 26px;
  border-radius: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.32s ease, background-color 0.32s ease, color 0.32s ease;
}

.secondaryBtn:hover {
  background-color: #2C2F24;
  color: #ffffff;
  transform: scale(1.05);
}
